Source: a2site
Section: httpd
Priority: optional
Maintainer: Alexander Tarkhov <agtuks@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/tarkhov/a2site
#Vcs-Git: git://anonscm.debian.org/collab-maint/a2site.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/a2site.git

Package: a2site
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache2 site creation and removing tools
 Apache2 HTTP Server site creation and removing tools using command line.
