Source: apache-site-commands
Section: httpd
Priority: optional
Maintainer: Alexander Tarkhov <agtuks@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/tarkhov/apache-site-commands

Package: apache-site-commands
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache site creation and removing tools
 Apache HTTP Server site creation and removing tools using command line.
